html, body {
   height: 100%;
   background-image: url(../img/Retrozone.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   --nav-load-time: 300ms;
   --nav-link-load-time: 500ms;
   --article-load-delay: calc(var(var(--nav-load-time)+ var(var(--nav-link-load-time))));
}


h1 {
   text-align: center;
   color: #FC685E;
   font-family: 'Ubuntu', cursive;
   animation: article-load 300ms ease-in var(--article-load-delay);
   animation-fill-mode: forwards;
   transform: translateY(-20px);
   opacity: 0;
}


p {
   font-family: 'Ubuntu', sans-serif;
   font-size: 20px; 
   color: whitesmoke;
   text-align: center;
   animation: article-load 300ms ease-in calc(var(--article-load-delay)+200ms);
   animation-fill-mode: forwards;
   transform: translateY(-20px);
}

.navbar {
   width: 150px;
   height: 40%;
   background-color: #262626;
   position: fixed;
   top: 0;
   left: -300px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20% 0 60% 0;
   transition: left .8s cubic-bezier(1, 0, 0, 1);
   animation: nav-load var(--nav-load-time) ease-in;
}

.change {
   left: 0;
}

.hamburger-menu {
   width: 50px;
   height: 50px;
   position: fixed;
   top: 30px;
   left: 20px;
   cursor: pointer;
   display: flex;
   flex-direction:column;
   justify-content: space-around;
}

.line {
   width:100%;
   height: 3px;
   background-color: #FC685E;
   transition: all 0.8s;
}

.change .line-1 {
   transform: rotateZ(90deg) translate(15px, 10px);
}

.change .line-2 {
   transform: rotateZ(90deg);
}

.change .line-3 {
   transform: rotateZ(90deg) translate(-15px, -10px);
}

.nav-list {
   text-align: left;
}

ul {
   list-style-type: none;
}
.nav-item {
   margin: 25px;
}

.nav-link {
   text-decoration: none;
   font-size: 15px;
   color: whitesmoke;
   font-weight: 300;
   letter-spacing: 1px;
   text-transform: uppercase;
   position: relative;
   padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
   content: "";
   width: 100%;
   height: 2px;
   background-color: chocolate;
   position: absolute;
   left: 0;
   transform: scaleX(0);
   transition: transform 0.5s;
}

.nav-link::after {
   bottom: 0;
   transform-origin: right;
}

.nav-link::before {
   top: 0;
   transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after{
   transform: scaleX(1);
}


@keyframes article-load {
   0% {
      transform: translateY(20px);
      opacity: 0;
   }

   100% {
      transform: translateY(0px);
      opacity: 1;
   }
}














