html, body {
   height: 100%;
   background-image: url(../img/Retrozone.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  
}


h1 {
   text-align: center;
   color: #FC685E;
   font-family: 'Ubuntu', cursive;
}


p {
   font-family: 'Ubuntu', sans-serif;
   font-size: 20px; 
   color: whitesmoke;
   text-align: center;
  
}

p2 {
   font-family: 'Ubuntu', sans-serif;
   font-size: 20px; 
   color: whitesmoke;
   text-align: center;
   margin-top: 85%;
   padding-left: 21.5%;
   
}

img.rounded-corners{
   border-radius: 50px;
}

.navbar {
   width: 150px;
   height: 40%;
   background-color: #262626;
   position: fixed;
   top: 0;
   left: -300px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20% 0 60% 0;
   transition: left .8s cubic-bezier(1, 0, 0, 1);
   
}

.change {
   left: 0;
}

.hamburger-menu {
   width: 50px;
   height: 50px;
   position: fixed;
   top: 30px;
   left: 20px;
   cursor: pointer;
   display: flex;
   flex-direction:column;
   justify-content: space-around;
}

.line {
   width:100%;
   height: 3px;
   background-color: #FC685E;
   transition: all 0.8s;
}

.change .line-1 {
   transform: rotateZ(90deg) translate(15px, 10px);
}

.change .line-2 {
   transform: rotateZ(90deg);
}

.change .line-3 {
   transform: rotateZ(90deg) translate(-15px, -10px);
}

.nav-list {
   text-align: left;
}

ul {
   list-style-type: none;
}
.nav-item {
   margin: 25px;
}


.nav-link {
   text-decoration: none;
   font-size: 15px;
   color: whitesmoke;
   font-weight: 300;
   letter-spacing: 1px;
   text-transform: uppercase;
   position: relative;
   padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
   content: "";
   width: 100%;
   height: 2px;
   background-color: chocolate;
   position: absolute;
   left: 0;
   transform: scaleX(0);
   transition: transform 0.5s;
}

.nav-link::after {
   bottom: 0;
   transform-origin: right;
}

.nav-link::before {
   top: 0;
   transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after{
   transform: scaleX(1);
}

@keyframes transitionIn {
   from {
      opacity: 0;
      transform: rotateX(-10deg);
   }

   to {
      opacity: 1;
      transform: rotateX(0);
   }
}

body {
   animation : transitionIn 1s;
}















