 body::before {
  
   content: ""; /* Important */
   z-index: -1; /* Important */
   position: inherit;
   left: inherit;
   top: inherit;
   width: inherit;
   height: inherit;
   background-image: inherit;
   background-size: cover;
   filter: blur(10px);
  
}

body{
   height: 100%;
   background-image: url(../img/Retrozone.jpg);
   background-size: 0, 0;
   width: 100%;
   height: 100%;
   position: fixed;
}



h1 {
   font-size: 80px;
   text-align: center;
   padding-top: 150px;
   color: #FC685E;
   font-family: 'Ubuntu', cursive;
}


p {
   font-size: 25px;
   padding: 115px;
   font-family: 'Ubuntu', sans-serif;
   font-size: 20px; 
   color: whitesmoke;
   text-align: center;
  
}

p2 {
   font-family: 'Ubuntu', sans-serif;
   font-size: 20px; 
   color: whitesmoke;
   text-align: center;
   padding-top: 50px;
   padding-left: 21%;
   
}

img.rounded-corners{
   border-radius: 50px;
}

img.gitsymbol{
   border-radius: 50px;
   padding-left: 48%;
}

img.splashscreen{
   padding-left: 33%;
}




.navbar {
   width: 150px;
   height: 40%;
   background-color: #262626;
   position: fixed;
   top: 0;
   left: -300px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20% 0 60% 0;
   transition: left .8s cubic-bezier(1, 0, 0, 1);
   
}


.container {
   display: flex;
   flex-flow: column wrap;
}

.change {
   left: 0;
}


.hamburger-menu {
   width: 50px;
   height: 50px;
   position: fixed;
   top: 30px;
   left: 20px;
   cursor: pointer;
   display: flex;
   flex-direction:column;
   justify-content: space-around;
}



.line {
   width:100%;
   height: 3px;
   background-color: #FC685E;
   transition: all 0.8s;
}

.change .line-1 {
   transform: rotateZ(90deg) translate(15px, 10px);
}

.change .line-2 {
   transform: rotateZ(90deg);
}

.change .line-3 {
   transform: rotateZ(90deg) translate(-15px, -10px);
}

.change .line-4 {
   transform: rotateZ(90deg) translate(-15px, -10px);
}

.nav-list {
   text-align: left;
}

ul {
   list-style-type: none;
}
.nav-item {
   margin: 25px;
}

div2{
   padding-right: 40px;
}

div4{
   padding-left: 40px;
}


.nav-link {
   text-decoration: none;
   font-size: 15px;
   color: whitesmoke;
   font-weight: 300;
   letter-spacing: 1px;
   text-transform: uppercase;
   position: relative;
   padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
   content: "";
   width: 100%;
   height: 2px;
   background-color: chocolate;
   position: absolute;
   left: 0;
   transform: scaleX(0);
   transition: transform 0.5s;
}

.nav-link::after {
   bottom: 0;
   transform-origin: right;
}

.nav-link::before {
   top: 0;
   transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after{
   transform: scaleX(1);
}

@keyframes transitionIn {
   from {
      opacity: 0;
      transform: rotateX(-10deg);
   }

   to {
      opacity: 1;
      transform: rotateX(0);
   }
}



body {
   animation : transitionIn 1s;
}

@media screen and (max-width: 481px) {
   
   #main, #subnav{
      float: left;
      padding:0;
      width:94%;
      margin:3%;
   }

   #subnav{
      border-right: 1px dotted #aaa;
      border-bottom: 1px dotted #aaa;
   }
}

















